.homepage {
    padding: 80px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.homepage-section {
    padding: 30px;
}

.data-badge-grid {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}