#hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background: linear-gradient(to bottom, var(--accent-soft) 20%, var(--bg) 60%);
    padding-top: 80px;
}

#hero-section h1 {
    font-size: 3rem;

    span {
        color: var(--accent);
    }
}

#hero-section p {
    font-size: 1.1rem;
    margin-top: 15px;
    max-width: 700px;
    line-height: 32px;
    font-weight: 300;
}

.main-search-input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--surface);
    width: 100%;
    max-width: 500px;
    margin-top: 30px;
    padding: 20px;
    border-radius: var(--radius-md);
    transition: var(--general-transition);
    outline-width: 0px;
    border: 1px solid var(--border);
}

.main-search-input-container:has(input:focus) {
    outline: 1px solid var(--accent);
    box-shadow: 0px 0px 50px 5px var(--ring);
}

.main-search-input-container input {
    height: 40px;
    background: none;
    border: none;
    font-size: 0.9rem;
    color: var(--text-2);
}

.main-search-input-container input::-webkit-search-cancel-button {
    display: none;
}

.main-search-input-container input:focus {
    outline: none;
}

.popular-searches-container .data-badge {
    cursor: pointer;
}

@media(max-width:550px) {
    #hero-section h1 {
        font-size: 2.8rem;
    }

    #hero-section p {
        font-size: 0.9rem;
    }
}