.back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--surface-2);
    transition: var(--general-transition);
    border-radius: 3000px;
    width: fit-content;
    cursor: pointer;
}

.back-button:hover {
    background-color: var(--accent-soft);

    svg {
        stroke: var(--accent);
    }
}

.back-button svg {
    stroke: var(--text-2);
    width: 19px;
    stroke-width: 2.5;
    transition: var(--general-transition);
}