header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border);
    background: var(--surface);
    z-index: 100;
    max-width: 1300px;
    margin: 0 auto;
    position: fixed;
    right: 0;
    left: 0;
}

.logo,
.header-left,
.header-right,
.header-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-left {
    gap: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    padding: 6px 10px;
    background-color: var(--accent);
    border-radius: var(--radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-icon svg {
    stroke: white;
    width: 18px;
}

.logo span {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header-right {
    width: 100%;
    max-width: 500px;
    gap: 10px;
}

.header-search-bar-container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    width: 100%;
}

.header-search-bar-container svg {
    position: absolute;
    opacity: 0.7;
    width: 16px;
    left: 20px;
}

.header-search-bar-container input {
    width: 100%;
    background: none;
    border: none;
    border: 1px solid var(--border);
    height: 40px;
    padding: 0 50px;
    border-radius: 3000px;
    padding-right: 90px;
    transition: var(--general-transition);
    outline-width: 1px;
    color: var(--text);
}

.header-search-bar-container input:focus {
    outline: 1px solid var(--accent);
}

.header-search-bar-container input::-webkit-search-cancel-button {
    display: none;
}

header .header-search-cta {
    position: absolute;
    right: 10px;
    font-size: 0.8rem;
    padding: 8px 16px;
    border-radius: 3000px;
}

.header-icons {
    gap: 10px;
}

.header-icon {
    padding: 6px 12px;
    border: 1px solid var(--border);
    border-radius: var(--radius-sm);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--general-transition);
    cursor: pointer;
}

.header-icon:hover {
    background-color: var(--surface-2);

    svg {
        fill: currentColor;
    }
}

.header-icon svg {
    width: 16px;
    transition: var(--general-transition);
}

@media(max-width:768px) {

    header {
        gap: 20px;
    }

    .header-logo span,
    .header-search-cta {
        display: none;
    }

    .header-search-bar-container input {
        padding-right: 30px;
    }
}

@media(max-width:550px) {
    header {
        gap: 10px;
        padding: 20px 10px;
    }

    .header-logo {
        display: none;
    }
}

aside {
    position: fixed;
    height: 100dvh;
    top: 0;
    width: 220px;
    background: var(--bg);
    color: var(--text);
    left: -300px;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px;
    padding-right: 15px;
    align-items: start;
    border-right: 1px solid var(--border);
    z-index: 150;
    transition: var(--general-transition);
}

.sidebar-active {
    left: 0;
    opacity: 1;
    pointer-events: all;
}


.sidebar-logo {
    display: none;
}

@media(max-width:768px) {
    .sidebar-logo {
        display: flex;
    }
}

.nav-items {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.nav-item {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
    padding: 6px 12px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--border);
    font-size: 0.85rem;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
    transition: var(--general-transition);
    color: var(--text-2);
}

.nav-item:hover {
    background-color: var(--surface-2);
}

.nav-item.active {
    background-color: var(--accent);
    color: white;
}

.nav-item.active:hover {
    background-color: var(--accent);
}

.nav-item svg {
    width: 16px;
    stroke-width: 2.2;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 110;
    pointer-events: none;
    transition: var(--general-transition);
}

.overlay-active {
    background-color: black;
    opacity: 0.5;
    pointer-events: all;
}

.sidebar-close-button {
    display: flex;
    border-radius: var(--radius-sm);
    padding: 5px 10px;
    border: 1px solid var(--border);
    transition: var(--general-transition);
    cursor: pointer;
    place-self: end;
}

.sidebar-close-button:hover {
    background-color: var(--surface-2);
}

.sidebar-close-button svg {
    width: 21px;

}