.job-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

@media(max-width:550px) {
    .job-card-grid {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
}